CompileFlags:
  Add:
    - "-std=gnu89"
    - "-include"
    - ".vscode/clangd_pre_helper.h"
    - "-include"
    - "src/bondtypes.h"
    - "-include"
    - ".vscode/clangd_post_helper.h"
    - "-I."
    - "-Iinclude"
    - "-Iinclude/ultra64"
    - "-Iinclude/PR"
    - "-Isrc"
    - "-Isrc/game"
    - "-Isrc/inflate"
    - "-DVERSION_US"
    - "-DLANG_US"
    - "-DREFRESH_NTSC"
    - "-DLEFTOVERDEBUG"
    - "-DLEFTOVERSPECTRUM"
    - "-DBUGFIX_R0"
    - "-DBYTEMATCH"
    - "-D_LANGUAGE_C"
    - "-DTARGET_N64"
